<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kjh.springbatch.product.infra.db.ProductMyBatisRepository">

    <select id="findAll" resultMap="hashmap">
	<![CDATA[
        SELECT id, name, img_url, price
        FROM PRODUCT
        ]]>
	</select>

	<select id="findById" parameterType="long" resultMap="hashmap">
		<![CDATA[
		SELECT id, name, img_url, price
		FROM PRODUCT
		WHERE id = #{id}
		]]>
	</select>

</mapper>
